.button {
  background-color: #efefef;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 8px 16px;
}

.button.round {
  border-radius: 50%;
  font-size: 0.8rem;
  height: 30px;
  padding: 0;
  width: 30px;
}

.button.selected {
  border: solid blue 1px;
  background-color: lightblue;
}
