.wrapper {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;

  @media (min-height: 400px) {
    gap: 40px;
  }

  @media (min-width: 800px) and (min-height: 500px) {
    padding: 64px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-around;
  width: 100%;

  @media (min-height: 400px) {
    gap: 40px;
  }
}

.body > svg {
  height: max-content;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.resultBadge {
  font-size: 1.6em;
}
