.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  justify-content: space-between;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.body > svg {
  height: max-content;
  padding-bottom: 64px;
  padding-top: 32px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.resultBadge {
  border-radius: 4px;
  padding: 8px 16px;
}

.resultBadge.correct {
  background: #d0f0c0;
  color: #013220;
}

.resultBadge.incorrect {
  background: #ffe4e1;
  color: #660000;
}
