.wrapper {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: 400px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 600px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.noteButton > input {
  opacity: 0;
  position: fixed;
}

.noteButton > label {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
}

.noteButton.selected > label {
  background-color: #536878;
  border: none;
  color: white;
}

.noteButton.correct > label {
  background-color: #d0f0c0;
  border: none;
  color: #013220;
}

.noteButton.incorrect > label {
  background-color: #ffe4e1;
  border: none;
  color: #65000b;
}
