.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: khaki;
  max-width: 800px;
  padding: 16px;
  width: 100%;

  @media (min-width: 800px) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.main {
  flex: 1;
  max-width: 800px;
  overflow: hidden;
  padding: 16px;
  width: 100%;
}
