.mainTitle {
  color: #2a3439;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-size: 1.6rem;
  font-weight: 400;
}

.body {
  color: #2a3439;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}
